{erl_opts, [debug_info]}.

{deps, [{typerefl, {git, "https://github.com/k32/typerefl.git", {tag, "0.8.4"}}}]}.

{xref_checks, [ undefined_function_calls
              , undefined_functions
              , locals_not_used
              , deprecated_function_calls
              , warnings_as_errors
              , deprecated_functions
              ]
}.

{profiles, [
   {test,
       [{deps,
           [ proper
           ]},
         {extra_src_dirs, [{"test",[recursive]}]}
       ]}
]}.
{shell, [
    {apps, [emqx_http_lib]}
]}.
